ion-header{
    background: #589fda;
    height: 50px;
}

.input1{
    font-size: 3vh;
    background-color: white;
    border: rgb(139, 134, 134) 1px solid;
}

.container{
    width: 90%;
    margin-left: 20px;
}