ion-toolbar{
    --background: #589fda;
}
ion-title{
    color: white !important;
}
ion-content{
    --background: #f4f4f4;
}
.input{
    font-size: 3vh;
    background-color: white;
    border: rgb(139, 134, 134) 1px solid;
    margin-top: 30%;
}
.input1{
    font-size: 3vh;
    background-color: white;
    border: rgb(139, 134, 134) 1px solid;
    margin-top: 3%;
}
.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 6vh;
    width: 30%;
    margin-top: 6%;
    --background:#589fda;
}
.facebook-div{
    height: 7vh;
    width: 100%;
    background-color: white;
    margin-top: 6%;
    border: rgb(139, 134, 134) 1px solid;
}
.facebook-div ion-icon{
    font-size: 6vh;
    margin-left: 10%;
    margin-top: 1%;
    color: #589fda;
   }
   .facebook-div h6{
       color: #589fda;
       font-size: 2.8vh;
       margin-left: 5%;
   }
   .para{
      text-align: center;
   }

.google-div{
    height: 7vh;
    width: 100%;
    background-color: #589fda;
    margin-top: 3%;
    border: rgb(139, 134, 134) 1px solid;
}
.google-div ion-icon{
    font-size: 6vh;
    margin-left: 10%;
    margin-top: 1%;
    color: white;
   }
   .google-div h6{
       color: white;
       font-size: 2.8vh;
       margin-left: 5%;
   }